<div class="jumbotron text-center" id="jumbo">
  <h2>Budget and Order Storage</h2>
  <p class="lead" *ngIf="!authService.loggedIn()">Welcome</p>
  <p class="lead" *ngIf="authService.loggedIn()">Welcome, {{username}}.</p>
  <div>
    <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-primary">Register</a>
    <br/>
    <a *ngIf="!authService.loggedIn()" routerLink="/login" class="btn btn-default">Login</a>
    <br/>
    <a *ngIf="authService.loggedIn()" routerLink="/products" class="btn btn-info">View Products</a>
    <br/>
    <a *ngIf="authService.loggedIn()" routerLink="/dashboard" class="btn btn-info">View Dashboard</a>
    <br/>
    <a *ngIf="authService.loggedIn()" routerLink="/dashboard" class="btn btn-info">View Profile</a>
  </div>
</div>