form {
	padding-top: 2em;
}


.page-header{
	margin: 0 auto;
	text-align: center;
	padding: 0.5em;
}

#button {
	margin: 0 auto;
	text-align: center;
	padding-top: 0.5em;
}

h1 { color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 4em; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }