<h1 class="page-header" style="text-align: center">Dashboard</h1>

<!-- panel -->
<div class="col-md-6 col-md-offset-3">
 
  <!-- panel outer layer -->
  <div *ngFor="let product of productPosts; let last = last" [ngClass]="{last : last}">
  	<div class="panel panel-primary" *ngIf="username == product.createdBy">
	    <!-- panel heading -->
	    <div>{{spending(product.product_price)}}</div>
	    <div class="panel-heading">
	      <h3 class="panel-title">{{product.product_name}}</h3>
	    </div>
	    <!-- panel body -->
	    <div class="panel-body">
		      <strong>Price :</strong> £{{ product.product_price | number : '1.2-2'}}
		      <br />
		      <strong>Location :</strong> {{ product.product_location }}
		      <br />
		      <strong>ID :</strong> {{ product.product_id }}
		      <br />
		      <strong>Likes :</strong> 13
		      <br/>
		      <strong>Date: </strong>{{ product.createdAt | date:'dd MMM, yyyy' }}
		</div>
	    <!-- footer start -->
	    <div class="panel-footer">
			<!-- edit button -->
	        <a [routerLink]="['/edit-product/', product._id]" *ngIf="username === product.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
		<!-- end of footer -->
		</div>
		<!-- end of panel outer layer -->
	  </div>
	  <!-- Budget checking -->
	  <div *ngIf=last>
	  	<div class="panel panel-primary">
		  	<div class="panel-heading">Total spending this month</div>
		  	<div class="panel-body">
				<p><strong>Budget: </strong> £{{ priceBudget  | number : '1.2-2'}}</p>
		  		<p><strong>Total Spent: </strong>£{{ priceSpent + product.product_price | number : '1.2-2'}}</p>
		  		<div *ngIf="(priceBudget < priceSpent)">
		  			<p><strong>Difference: </strong>£{{ priceBudget - (priceSpent + product.product_price) | number : '1.2-2' }}</p>
		  			<p>You've spent too much!</p>
		  		</div>
		  		<div *ngIf="(priceSpent < priceBudget)">
		  			<p><strong>Difference: </strong>£{{ priceBudget - (priceSpent + product.product_price) | number : '1.2-2' }}</p>
		  			<p>You're safe!</p>
		  		</div>
		  	</div>
		 </div>
	  </div> 
	</div>
<!-- end of panel -->
</div>